:root {
  --cor-de-fundo-botao-ver-mais: #9353ff;
}


.texto-menor {
  font-size: 13px;
}

.divs-facilidades {
  width: 325px;
}

@media screen and (min-width: 998px) {
  .divs-facilidades {
    width: 255px;
  }
}

@media screen and (max-width: 575px) {
  .divs-facilidades {
    width: 200px;

  }
  .div-novidades {
    width: 321px;
  }
}

.botao-ver-mais {
  background-color: var(--cor-de-fundo-botao-ver-mais);
}

.cor-icones-facilidades {
  color: #DAFF01;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

